
.icon-search:before { content: '\e800'; } /* '' */
.icon-align-justify:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-record:before { content: '\e803'; } /* '' */
.icon-light-up:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-right-small:before { content: '\e807'; } /* '' */
.icon-down-small:before { content: '\e808'; } /* '' */
.icon-left-small:before { content: '\e809'; } /* '' */
.icon-moon:before { content: '\e80a'; } /* '' */
.icon-hail:before { content: '\e80b'; } /* '' */
.icon-snow-heavy:before { content: '\e80c'; } /* '' */
.icon-cloud-sun:before { content: '\e80d'; } /* '' */
.icon-right:before { content: '\e80e'; } /* '' */
.icon-left:before { content: '\e80f'; } /* '' */
.icon-headphones:before { content: '\e810'; } /* '' */
.icon-right-open-1:before { content: '\f006'; } /* '' */
.icon-left-open-1:before { content: '\f007'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
